@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: Montserrat;
}
body{
    background-color: #f8f8f8;
}


.movieList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.img_movie{
    width: 90%;
    height: 70%;
    border: 0.5px solid grey;
}

.movie_title{
    padding: 10px;
 
}

.primary_btn{
    padding : 10px;
    background-color : #0275d8;
    color : #f1faee;
    border : none;
    border-radius: 2px;
}

.primary_btn a{
    text-decoration: none;
    color: whitesmoke;
}